{% extends 'header.html' %}

{% block navbar %}
<form class="navbar-form navbar-left" action="/search/" method="post">
    {% csrf_token %}
	<div class="form-group">
	    <input type="text" class="form-control" placeholder="Search" name="search" id="search_box">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
<li><a href="/network/">Network</a></li>
<li><a href="/profile/">Profile</a></li>
<li><a href="/logout/">Logout</a></li>
{% endblock %}

{% block content %}
<!--
{% for i in t %}
{% ifequal i.username l %}

    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {{ form1.as_p }}
        {{ form.as_p }}

        <input type="submit" value="Submit" />
    </form>
{% endifequal %}
{% endfor %}
-->
<hr width="1000px" />
<hr width="1000px" />
    <h1><u>POSTs</u><br><small><u>{{ fullname }}</u><small> is logged IN </small></brsmall></h1>
<hr width="800px" />
{% for i in t %}
{% ifequal i.username m %}
        <h2>{{ i.title }}</h2>
    <small>{{ i.date|timesince }}</small><br>
<h3>USER:<b>{{i.username}}</b></h3>
        {{i.content}}<br>
    {% if i.pic %}
    <img src="{{i.pic.url}}" width="300px" height="200px" /><br><br>
    {% endif %}
    {% ifequal i.username request.user %}
    <a href="{% url 'delete' i.id %}">Delete</a>
    <a href="{% url 'edit' i.id %}">Edit</a>
    {% endifequal %}
    <br><br>
    <hr width="500px">
    <br>
{% endifequal %}
{% endfor %}

{% endblock %}